@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:700');

.App {
  text-align: center;
}

.App-logo {
  height: 50%;
  max-width: 100%;
  padding-bottom: 10px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 25px;
  padding-bottom: 50px;
}

.main-nav li {
  /* text-align: center; */
  font-family: 'Cinzel Decorative';
}

.App-intro {
  font-size: large;
  position: center;
}

.main-page {
  font-size: 1em;
}

.profile {
  font-size: 1em;
}

p {
  padding-top: 5%;
  text-align: center;
}

li {
  list-style-type: none;
}

  /******************************************
  ONE COLUMN LAYOUT
  ******************************************/
/* @media screen and (min-width: 500px) { 
  .main-page {
    columns: 1;
  }
  .main-nav li {
    font-size: 1.5em;
    display: inline;
    padding: 5px;
  }
} */

  /******************************************
  TWO COLUMN LAYOUT
  ******************************************/
@media screen and (min-width: 660px) {
  .main-page {
    columns: 2;
  }
  .main-nav li {
    font-size: 1.5em;
    display: inline;
    padding: 10px;
    text-align: center;
  }
}
  /******************************************
  Three COLUMN LAYOUT
  ******************************************/

@media screen and (min-width: 860px) {
  .main-page {
    columns: 3;
  }
  .main-nav li {
    font-size: 1.5em;
    display: inline;
    padding: 10px;
    text-align: center;
  }
}